<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Details</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
<div class="details-form-group">
 <h1>Customer Details</h1>
       <h2><strong>Job Description:</strong> <%= customer.jobDescription %></h2>
       <p><strong>Name:</strong> <%= customer.customerName %></p>
       <p><strong>Email:</strong> <%= customer.customerEmail %></p>
       <p><strong>Cell:</strong> <%= customer.customerCell %></p>
   <br>  
   <div class="details-button-container text-center mt-3">
  <a href="/additems?reference=<%= customer.reference %>" class="button">Add Items </a><br>
  <a href="/viewitems?reference=<%= customer.reference %>" class="btn btn-success mb-2">View Items</a><br>
  <a href="/billing?reference=<%= customer.reference %>" class="btn btn-success mb-2">View Billing</a><br>
  <a href="/overview?reference=<%= customer.reference %>" class="btn btn-info mb-2">Overview</a><br>
  <a href="/print" class="btn btn-info mb-2">Print</a>
  </div>
  <a href="/sales/dashboard">Back to Customer Login</a>
   </div>
<br>
</div>
<footer>
    <p>&copy; <%= new Date().getFullYear() %> Bidvest Protea Coin</p>
    </footer>
</body>
</html>
