<!DOCTYPE html>
<html>
<head>
  <title>Register Customer</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <form class="signup-form" action="/register-customer" method="POST">
      <h1>Register New Customer</h1>
        <div class="signup-form-group">
            <label for="reference"> <i class="fa-solid fa-asterisk"></i> Reference:</label>
            <input type="text" id="reference" name="reference" placeholder="Reference:" required>
        </div>
        <div class="signup-form-group">
            <label for="customerName"> <i class="fa-solid fa-signature"></i> Customer Name:</label>
            <input type="text" id="customerName" name="customerName" placeholder="Customer Name:" required>
        </div>
        <div class="signup-form-group">
            <label for="customerEmail"> <i class="fa-solid fa-envelope"></i> Customer Email:</label>
            <input type="email" id="customerEmail" name="customerEmail" placeholder="Customer Email:" required>
        </div>
        <div class="signup-form-group">
            <label for="customerCell"> <i class="fa-solid fa-phone"></i> Customer Cell:</label>
            <input type="tel" id="customerCell" name="customerCell" placeholder="Customer Cell:" required>
        </div>
        <div class="signup-form-group">
            <label for="jobDescription"><i class="fa-solid fa-audio-description"></i> Job Description:</label>
            <textarea id="jobDescription" name="jobDescription" placeholder="Job Description:" required></textarea>
        </div>  
            <div class="signup-form-group">
      <label for="name"> <i class="fa-solid fa-signature"></i> Sales Person:</label>
      <select id="name" name="name" required>
        <option value="" disabled selected>Select a Sale Person</option>
        <% salesPeoples.forEach(type => { %>
          <option 
            value="<%= type.name %>" 
            data-cell="<%= type.cell %>" 
            data-email="<%= type.email %>" 
            data-role="<%= type.role %>"
          >
            <%= type.name %>
          </option>
        <% }); %>
      </select>
    </div>   
    <div class="signup-form-group">
      <label for="cell"> <i class="fa-solid fa-phone"></i> Sales Contact:</label>
      <input type="text" id="cell" name="cell" readonly required />
    </div>   
    <div class="signup-form-group">
      <label for="email"> <i class="fa-solid fa-envelope"></i> Sales Email:</label>
      <input type="email" id="email" name="email" readonly required />
    </div>   
    <div class="signup-form-group">
      <label for="role"><i class="fa-brands fa-critical-role"></i> Sales Role:</label>
      <input type="text" id="role" name="role" readonly required />
    </div> 
      <button type="submit">Register Customer</button>
    </form>
    <br>
    <a href="/sales/dashboard">Back to Dashboard</a>
  </div>
  <script src="/js/form.js"></script>
</body>
</html>
