<!DOCTYPE html>
<html>
<head>
  <title>All Salespeople</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h2 style="color: aliceblue;">Sale's People List</h2>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Cell</th>
      <th>Role</th>
      <th>Approved/NotApproved</th>
      <th>Action</th>
    </tr>
    <% salespeople.forEach(person => { %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
        <td><%= person.cell %></td>
        <td><%= person.role %></td>
        <td> #give access</td>
          <td>
        <form method="POST" action="/admin/delete-salesperson" onsubmit="return confirm('Are you sure you want to remove this salesperson?');">
          <input type="hidden" name="email" value="<%= person.email %>">
          <button type="submit" style="background-color:red; color:white;">Remove</button>
        </form>
      </td>
      </tr>
    <% }); %>
  </table>
   <button type="submit" ><a href="/viewQuotes" class="btn btn-warning mb-2">view our sales Quotes</a> </button>
  <br>
  <a href="/admin/dashboard">Back to Admin Dashboard</a>
</body>
</html>
